.tabs-container {
  width: auto;
  margin: 20px auto;
}

.tabs {
  display: flex;
}

.tab {
  cursor: pointer;
  padding: 10px;
  margin-right: 10px;
  border-bottom: none;
  background-color: #598392;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  font-weight: bold;
  font-size: 24px;
}

.tab.active {
  background-color: #124559;
  color: #eff6e0;
}
