.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(14px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.modal {
  background-color: #aec3b0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.button {
  display: inline-block;
  padding: 0 6px;
  text-decoration: none;
  background: #eff6e0;
  color: #01161e;
  border-radius: 8px;
  border: 10px;
  border-color: #01161e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.button:hover {
  background: linear-gradient(4deg, #eff6e0, #124559);
}

.modal-close-btn {
  /* display: inline-block; */
  padding: 0 6px;
  text-decoration: none;
  background: #eff6e0;
  color: #01161e;
  border-radius: 8px;
  border: 10px;
  border-color: #01161e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  float: right;
}
